.header {
  padding: 20px 0 5px 0;
  width: 100%;
  margin-bottom: 18px;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12),
    inset 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
  // overflow-x: hidden;
}

.groupImage {
  position: absolute;
  top: 20px;
  left: 28%;
  width: 100px;
  height: auto;
  z-index: 10;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-right: 16px;
}

.logoWrapper {
  margin-left: 42%;
  margin-right: 3%;
  width: auto;
  max-width: 55%;
  margin-bottom: 15px;
}

.startOn {
  padding: 7px 12px;
  border: 1px solid rgba(61, 142, 218, 1);
  color: rgba(61, 142, 218, 1);
  border-radius: 2px;
  font-size: 14px;
  white-space: nowrap;
}

.statisticsWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.statisticsTitle {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.statisticsTitleItem {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.pickerWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 16px;
  flex-wrap: wrap;
}

.pickerWrapper .react-datepicker {
  font-size: 14px;
}

.pickerWrapperTitle {
  margin: 0;
}

.picker {
  min-width: 200px;
}

.picker input {
  padding-right: 60px !important;
  width: 200px;
}

.pickerContainer {
  display: flex;
  flex-direction: column;
}

.pickerCaption {
  color: grey;
  font-size: 8px;
}

@media (max-width: 768px) {
  .groupImage {
    left: 12%;
    width: 80px;
  }

  .logoWrapper {
    margin-left: 26%;
    margin-right: 3%;
    max-width: 68%;
  }

  .title {
    font-size: 20px;
  }

  .startOn {
    font-size: 12px;
    padding: 5px 8px;
  }
}

@media (max-width: 690px) {
  .pickerWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .pickerWrapperTitle {
    margin-bottom: 5px;
  }

  .picker {
    width: 100% !important;
    min-width: 100% !important;
  }

  .picker input {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .groupImage {
    left: 3%;
    width: 70px;
    top: 15px;
  }

  .logoWrapper {
    margin-left: 20%;
    margin-right: 3%;
    max-width: 75%;
  }

  .title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .groupImage {
    left: 2%;
    width: 60px;
  }

  .logoWrapper {
    margin-left: 18%;
    margin-right: 2%;
    max-width: 78%;
  }

  .statisticsWrapper {
    gap: 10px;
  }

  .statisticsTitle {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .title {
    font-size: 16px;
  }
}
