*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  background-image: url("../public/Vector 1.svg"), url("../public/Vector 2.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 90vh auto, 30vh auto;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 576px) {
  .react-datepicker-wrapper {
    position: relative;
    overflow: visible !important;
    width: 100% !important;
  }

  .react-datepicker__input-container {
    position: relative;
    overflow: visible !important;
    width: 100% !important;
  }

  .react-datepicker__input-container input {
    width: 100% !important;
    padding-right: 30px !important;
  }

  .react-datepicker__close-icon {
    display: block !important;
    position: absolute !important;
    right: 5px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important;
  }

  .react-datepicker__close-icon::after {
    background-color: #216ba5 !important;
    color: white !important;
  }
}

@media (max-width: 470px) {
  .react-datepicker__close-icon {
    right: 8px !important;
  }
}
